:root {
  --main-color: #8d7a5a;
  /* --bg-color: #f8fafc; */
  --section-color: #fff1da;
  /* --section-color: #fff; */
  --border-color: #8d7a5a;
  --bg-color: #fff1da;
}

.pixelify-sans {
  font-family: "Pixelify Sans", system-ui;
  font-optical-sizing: auto;
}

* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

body {
  display: grid;
  /* background-color: blue; */
  background: url(assets/grid-pattern.png) var(--bg-color);
  color: var(--main-color);
  justify-content: center;
  padding: 32px;
  scroll-behavior: smooth;
}

.container {
  display: grid;
  gap: 64px;
  width: 80vw;
  justify-content: center;
  /* background-color: red; */
}

.main-heading {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 52px;
}

.biodata {
  margin: auto;
  text-align: center;
}

.biodata-greeting {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}

.biodata-name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.biodata-description {
  font-size: 16px;
  max-width: 800px;
  font-weight: 400;
  margin-bottom: 24px;
  text-wrap: balance;
}

.sub-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
  text-decoration: underline;
}

.container-tools {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 24px;
}

.tools-item {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tools-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-design {
  margin: auto;
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 24px;
}

.design-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.design-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .container {
    width: 1122px;
  }

  .container-design {
    width: 1122px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
