:root {
  --main-color: #3388bb;
  --bg-color: #f8fafc;
  --section-color: #fff;
}

.pixelify-sans {
  font-family: "Pixelify Sans", system-ui;
  font-optical-sizing: auto;
}

* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

body {
  display: grid;
  /* background-color: blue; */
  background-color: var(--bg-color);
  color: var(--main-color);
  justify-content: center;
  padding: 32px;
  scroll-behavior: smooth;
}

a {
  color: var(--main-color);
}

.title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}

.container {
  display: grid;
  gap: 12px;
  width: 80vw;
  /* background: red; */
}

.section {
  width: 100%;
  display: grid;
  gap: 12px;
  background-color: var(--section-color);
  padding: 24px;
}

.section:hover:not(.post-test) {
  background-color: var(--main-color);
  color: var(--section-color);
}

.section:hover path {
  fill: var(--section-color);
}

.greeting h2,
.post-heading {
  font-size: 24px;
  font-weight: 700;
}

.greeting h3 {
  font-size: 16px;
  font-weight: 700;
}

.post-heading {
  text-align: center;
  margin-bottom: 24px;
}

.list-post-test {
  display: grid;
  gap: 8px;
}

.post-item {
  padding: 8px;
}

.post-item:nth-child(odd) {
  border: 2px solid var(--main-color);
}

.post-item:hover {
  background-color: var(--main-color);
  color: var(--section-color);
}

.post-item-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.post-item-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instagram,
.spotify,
.github,
.galery {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    width: 800px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .github {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .greeting {
    grid-column-start: 4;
    grid-column-end: 8;
  }

  .post-test {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: -1;
  }

  .instagram {
    grid-row-start: 2;
    grid-column-start: 5;
    grid-column-end: 8;
  }

  .galery {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .spotify {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 8;
  }

  .instagram,
  .spotify,
  .github,
  .galery {
    display: block;
  }
}
