:root {
  --text-color: #0f1010;
  --bg-color: #eaebeb;
  --primary-color: #3d4241;
  --secondary-color: #dddfdf;
  --accent-color: #dddfdf;
  /* --accent-color: #737d7b; */
}

.dark-mode {
  --text-color: #eff0f0;
  --bg-color: #141515;
  --primary-color: #bdc2c1;
  --secondary-color: #202222;
  --accent-color: #202222;
  /* --accent-color: #828c8a; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* font-family: "Pixelify Sans", system-ui; */
  color: var(--text-color);
  background: var(--bg-color);
  font-size: 16px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.btn {
  outline: transparent;
  border: none;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 8px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.btn-primary:hover {
  background-color: var(--accent-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.btn-secondary:hover {
  background-color: var(--accent-color);
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  background-color: var(--accent-color);
  position: relative;
  z-index: 1;
}

.profile-picture img {
  width: 100%;
  height: 100%;
}

textarea {
  resize: none;
  width: 100%;
}

.heading {
  font-size: 24px;
  font-weight: 800;
}

.sub-heading {
  font-size: 20px;
  font-weight: 600;
}

.form-item {
  display: grid;
  gap: 12px;
  margin-bottom: 24px;
}

.form-input {
  padding: 16px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--secondary-color);
}

.toggler-mode {
  min-width: max-content;
  width: 100%;
  outline: transparent;
  border: none;
  cursor: pointer;
  padding: 12px 6px;
  border-radius: 8px;
}

.post-image {
  width: 100%;
  height: 500px;
  margin-bottom: 24px;
  border-radius: 12px;
  overflow: hidden;
  object-fit: cover;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
