:root {
  --main-color: #3388bb;
  --secondary-color: #64748b;
  --section-color: #ffffff;
  --border-color: #3388bb;
  --bg-color: #f8fafc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Pixelify Sans", system-ui;
  color: var(--main-color);
}

body {
  background-color: var(--bg-color);
}

.navbar {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding: 16px 24px;
  border-bottom: 2px solid var(--border-color);
  font-weight: 800;
}

.logo-wrapper {
  width: 64px;
}

.section {
  margin-bottom: 24px;
}

.logo-wrapper img {
  width: 100%;
}

.container {
  padding: 24px;
  display: grid;
  gap: 40px;
}

.heading {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 24px;
}

.section-heading {
  font-weight: 800;
  margin-bottom: 12px;
}

.content-container {
  padding: 24px;
  background-color: var(--section-color);
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--secondary-color);
}

.content-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-color);
}

.content-address {
  font-size: 12px;
  color: var(--secondary-color);
}

.metode-pembayaran {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 4px;
}

.metode-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--section-color);
  width: 100%;
  padding: 12px 16px;
  border: 2px solid transparent;
}

.metode-item:hover {
  border-color: var(--border-color);
  cursor: pointer;
}

.receipt {
  background-color: var(--section-color);
  padding: 64px 24px;
}

.receipt-heading,
.receipt-paragraph {
  text-align: center;
}

.receipt-paragraph {
  margin-bottom: 16px;
}

.item-pesanan {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.item-image {
  width: 100px;
  overflow: hidden;
}

.item-image img {
  width: 100%;
}

.item-detail {
  /* width: 100%; */
  flex: 1;
}

.item-price {
  color: var(--secondary-color);
  font-size: 12px;
}

.item-qty input {
  appearance: none;
  border: none;
  outline: none;
  text-align: end;
}

.detail-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 800;
}

.detail-total div {
  color: var(--secondary-color);
}

.receipt {
  padding-bottom: 24px;
}

.footer {
  background-color: var(--section-color);
  padding: 24px;
  width: 100%;
}
@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
