.sub-heading {
  text-align: center;
}

.register-container {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.two-column {
  display: grid;
  gap: 16px;
}

.form-item {
  display: grid;
  gap: 16px;
}

.form-title {
  font-weight: 700;
  color: var(--heading-color);
}

.form-input {
  padding: 12px 24px;
  background-color: var(--section-color);
  border: none;
}

.form-input::placeholder {
  color: var(--number-color);
}

@media (min-width: 768px) {
  .two-column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }

  .two-column .btn {
    grid-column: span 2;
  }
}
